<h3>
    <b>
  update email !
  </b>
</h3>
<div>
  <form #updateForm="ngForm">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">UserName</label>
      <div class="col-sm-8">
        <input type="text"  class="form-control" disabled [value]="dataUserService.getUserName()">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Id</label>
      <div class="col-sm-8">
        <input #id type="number" class="form-control" id="inputPassword"  disabled [value]="dataUserService.getUserId()">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-8">
        <input #email="ngModel" required name="email" email [(ngModel)]="company.email" type="email" class="form-control" id="Email" placeholder="email@example.com">
        <span *ngIf="email.touched && email.invalid">the email not valid</span> 
      </div>
    </div>
    <button  [disabled]="updateForm.invalid" (click)="companyEmailUpdate()" class="btn btn-primary btn-lg active"
      role="button">Send</button>
  </form>
</div>